body{
    margin:0px;
    padding: 0px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfoj03jFxPR903CBM_pyj-O6YAYeGzB2IiRw&usqp=CAU);
    background-size: cover;
    text-align: center;
}

.adminLogin{
    background-color: rgb(238, 205, 164,0.8);
    height: 350px;
    width: 40%;
    margin-left: 25%;
    border-radius: 8px;
    margin-top: 100px;
}
.email input{
    border-radius: 5px;
    padding: 8px 40px;
}
.password input{
    border-radius: 5px;
    padding: 8px 40px;
}
.button button{
    border-radius: 5px;
    padding: 5px 20px ;
    background-color: transparent;
}
.adminLogin h1{
    font-style: italic;
    padding-top: 10px;
}


